@charset "utf-8";
/* CSS Document */
/*后台登录*/
#manage-login{ width:500px; margin: 0 auto 0 auto}

/*.manage_login .login{ width:500px; padding:50px 0; background:#F99; margin:0 auto;  margin-top:15%; border-radius:20px; box-shadow: #000 0px 0px 30px}
.manage_login .login .text{height:30px; border-radius:10px; text-indent:10px;}
.manage_login .login .vali{width:120px;margin-right: 5px;}
.manage_login .login .btn{ padding:5px 20px; margin-top:15px; font-size:16px;}
.manage_login .control-label{ font-size:16px;}
.manage_login .login  .checkbox{ font-size:16px;}*/
/*后台主界面基本样式*/
.header{height:80px; overflow:hidden;}
.header .logo{ width: 200px; float:left; color:#fff; line-height:80px; font-size:18px; text-align:center}
.header .info{ float:right; line-height:80px; margin-right:20px;}
.header .info .welcome{ float:left; color:#fff}
.header .info ul{ float:left}
.header .info ul li{ float:left;line-height:80px; margin:0 10px; min-width:20px;}
.header .info ul li a,.header .info ul li i{ color:#fff}
.header .info ul li a:hover{ text-decoration:none; color:#fff}
.footer{height:50px;width: 100%;position: absolute;bottom: 0px;overflow:hidden;}
.footer p{text-align: center;line-height: 50px;color: #fff;font-size: 14px;}
.main {position:absolute;bottom: 50px;top:80px; width: 100%}
.main .menu{ width:200px;height: 100%;overflow: auto;overflow-x: hidden;float: left}
.main .content-box{height: 100%; background:#fff;overflow: auto;overflow-x: hidden;}
/*后台左侧材料折叠菜单*/
#main-nav {
    margin-top: 2px;
    margin-left: 2px;
    border-bottom: none;
}
#main-nav.nav-tabs.nav-stacked > li {width: 100%}
#main-nav.nav-tabs.nav-stacked > li > button{width:99%;text-align: left}
#main-nav.nav-tabs.nav-stacked > li > a,#main-nav.nav-tabs.nav-stacked > li > button {
    padding: 10px 8px;
    font-size: 12px;
    /*font-weight: 600;*/
    color: #4A515B;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    border: 1px solid #D5D5D5;
    border-radius: 4px;
}
#main-nav.nav-tabs.nav-stacked > li > a > span {
    color: #4A515B;
}
#main-nav.nav-tabs.nav-stacked > li.active > a,#main-nav.nav-tabs.nav-stacked > li.active > button, #main-nav.nav-tabs.nav-stacked > li > a:hover {
    background: #00AA88;
    color:#fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
}
#main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover > span {
    color: #FFF;
}
#main-nav.nav-tabs.nav-stacked > li {
    margin-bottom: 4px;
}
.nav-header.collapsed > span.glyphicon-chevron-toggle:before {
    content: "\e114";
}

.nav-header > span.glyphicon-chevron-toggle:before {
    content: "\e113";
}
#main-nav .secondmenu  li{width:99%}
#main-nav .secondmenu  li a{color: #333;text-indent: 10px;}
#main-nav  li a i {margin-right: 3px;}
#main-nav .secondmenu  li.active{background: #666;color:#fff}
#main-nav .secondmenu  li.active a:hover{background: #666;}
#main-nav .secondmenu  li.active a{color:#fff}
/*内容区域*/
.content-box .breadcrumb{margin-top:2px;margin-bottom: 5px;}
.content-box .breadcrumb a{color: #00AA88}
.content-box .breadcrumb a:hover{color:#009999}
/*文章列表*/
.article_list .pagination{margin:0;}


