@charset "utf-8";
/* CSS Document */
/*公共参数*/
*{padding:0px; margin:0px; font-size:12px; font-family:"MicroSoft Yahei"}
body{width:100%; height:auto; margin:0 auto;}
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, div{ margin: 0; padding: 0; color:#333333; font-weight:normal; font-size:12px}
table{border:none}
input{border:none}
a{text-decoration:none; color:#333}
b{ font-weight:normal;}
a:hover{text-decoration:none; color:#a20000}
li{list-style:none;}
img{border:none}
em{ font-style:normal}
.clear{clear:both; height:0}
.w1004{width:1004px; margin:0 auto; padding:0}
.w1000{width:1000px; margin:0 auto; padding:0}
.w995{width:990px; margin:0 auto; padding:0}
.w990{width:990px; margin:0 auto; padding:0}
.w980{width:980px; margin:0 auto; padding:0}
.w970{width:970px; margin:0 auto; padding:0}
.w960{width:960px; margin:0 auto; padding:0}
.w940{width:940px; margin:0 auto; padding:0}
.warp{margin:0; padding:0;position:relative;}
.mt30{margin-top:30px}
.mt20{margin-top:20px}
.mt15{ margin-top:15px;}
.mt10{ margin-top:10px;}
.mt5{ margin-top:5px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr30{ margin-right:30px;}
.ml15{ margin-left:15px;}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml10{margin-left:10px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.pt30{ padding-top:30px}
.pt15{ padding-top:15px}
.pl15{ padding-left:15px}
.pb400{padding-bottom:400px}
.pr30{padding-right:30px}
.padding10{ padding:10px;}
.padding20{ padding:20px;}
.padding30{ padding:30px;}
.of{ overflow:hidden}
.clearfix {*zoom: 1;} 
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; } 
.clearfix:after { clear: both;} 
.left{ float:left}
.right{ float:right}
/*字体样式*/
.text-danger{color:#E31637;}
.text-primary{color:#0087D3;}
/*背景颜色*/
.bg-ruanpower{background: #00AA88}
/*图片放大缩小*/
.pic-zoom {overflow:hidden;}
.pic-zoom img {display:block;}
.pic-zoom:hover img {-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05);}
.pic-zoom img {-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;}


